html {
	background-color:#fefefe;
}

body {
	font-family:Open Sans,Arial;
	color:#454545;
	font-size:16px;
	line-height:1.4;
	padding: 1em;
	max-width: 900px;
	margin: 2em auto;
	text-align: justify;
}

code, pre, pre code {
  text-align: left;
  white-space: pre; /* preserves spacing */
}

a {
	color: #07a;
}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.site-header {
	padding: 16px 16px;
	background-color: #f8f8f8;
	color: #000000;
	width: 100%;
}

.site-header a {
	text-decoration: none;
	color: inherit;
	padding: 14px 10px 14px 10px;
	text-align: center;
}

.nav-left {
	display: inline-block;
	margin-left: 20px;
}

.nav-right {
	float: right;
	margin-right: 60px;
}

img {
	max-width: 100%;
}

hr {
	border-top: 1px solid;
	color: rgba(0, 0, 0, 0.1);;
	left: 50%;
}

.row {
	display: flex;
}
  
.column-small {
	flex: 20%;
}

.column-large {
	flex: 80%;
}